body {
    align-content: center;
 }
 
 

 
 .clsButton {
     width: 50%;
     margin: 10%;
     
 }
 
 .clsImgDiv {
     float: left;
     padding: 1%;
 }
 
 .clsButtonStyle{
     background-color: blue;
 }
 
 .clsImage {
     width: 85%;
     
 } 